<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="d-flex justify-content-center align-items-center">
            <img th:src="@{/images/image3.JPG}" alt="" srcset="" style="width: 100px; height: 100px;">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">


                <li class='sidebar-title'>Main Menu</li>



                <li class="sidebar-item active ">
                    <a href="/ipsl/index" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Dashboard</span>
                    </a>

                </li>




                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i>
                        <span>Caisse</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/ipsl/caisses/ouverture">Ouverture de caisse</a>
                        </li>

                        <li>
                            <a href="/ipsl/caisses/billetage">Billetage</a>
                        </li>

                        <li>
                            <a href="/ipsl/caisses/fermeture">Fermeture de caisse</a>
                        </li>



                    </ul>

                </li>




                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i>
                        <span>Opérations et service bancaire</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="component-extra-avatar.html">Ouverture de compte</a>
                        </li>

                        <li>
                            <a href="/ipsl/operationsBancaires/list">Dépôt-Retrait</a>
                        </li>

                    </ul>

                </li>




                <li class='sidebar-title'>Forms &amp; Tables</li>



                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="file-text" width="20"></i>
                        <span>Transactions</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/ipsl/operations/list">Opérations</a>
                        </li>

                        <li>
                            <a href="/ipsl/changes/list">Change</a>
                        </li>

                        <li>
                            <a href="/ipsl/grossistes/list">Grossiste BnB</a>
                        </li>


                    </ul>

                </li>




                <li class="sidebar-item  ">
                    <a href="/ipsl/entreprises/list" class='sidebar-link'>
                        <i data-feather="layout" width="20"></i>
                        <span>Création d'entreprise</span>
                    </a>

                </li>




                <li class="sidebar-item  ">
                    <a href="/ipsl/cartes/list" class='sidebar-link'>
                        <i data-feather="grid" width="20"></i>
                        <span>Carte Commerçant/Import-Export</span>
                    </a>

                </li>




                <li class="sidebar-item  ">
                    <a href="/ipsl/approvisionnements/list" class='sidebar-link'>
                        <i data-feather="file-plus" width="20"></i>
                        <span>Approvisionnement</span>
                    </a>

                </li>




                <li class='sidebar-title'>Extra</li>



                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span>Fiches caissier</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="ui-chatbox.html">Passation</a>
                        </li>

                        <li>
                            <a href="ui-pricing.html">Opérations à régulariser</a>
                        </li>

                        <li>
                            <a href="ui-todolist.html">Récap appro</a>
                        </li>

                    </ul>

                </li>




                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="trending-up" width="20"></i>
                        <span>Récaputilatif</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="ui-chart-chartjs.html">ChartJS</a>
                        </li>

                        <li>
                            <a href="ui-chart-apexchart.html">Apexchart</a>
                        </li>

                    </ul>

                </li>




                <li class='sidebar-title'>Pages</li>



                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span>Authentication</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="login.html">Login</a>
                        </li>

                        <li>
                            <a href="registration.html">Register</a>
                        </li>

                        <li>
                            <a href="auth-forgot-password.html">Forgot Password</a>
                        </li>

                    </ul>

                </li>




                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="alert-circle" width="20"></i>
                        <span>Errors</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="error-403.html">403</a>
                        </li>

                        <li>
                            <a href="error-404.html">404</a>
                        </li>

                        <li>
                            <a href="error-500.html">500</a>
                        </li>

                    </ul>

                </li>






            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>