<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Caisse - Billetage</title>
</head>
<body>
<h3>Ajouter une Caisse - Billetage</h3>

    <!-- Entête -->
<div>
    <label> Agent: <span th:text="${nomComplet}"></span></label><br>
    <label>Agence: <span th:text="${agence.nomAgence}"></span></label><br>
    <label>Nature de la Caisse: Billetage</label><br>
    <label>Date et Heure: <span th:text="${dateHeure}"></span></label><br>
</div>



<form th:action="billetage" method="post" th:object="${EuroDto}">
    <!-- Section de saisie des quantités -->
    <label>Quantité de Billet 500 € : <input type="number" th:field="*{billetCinqCents}" required></label><br>
    <label>Quantité de Billet 200 € : <input type="number" th:field="*{billetDeuxCents}" required></label><br>
    <label>Quantité de Billet 100 € : <input type="number" th:field="*{billetCent}" required></label><br>
    <label>Quantité de Billet 50 € : <input type="number" th:field="*{billetCinquante}" required></label><br>
    <label>Quantité de Billet 5 € : <input type="number" th:field="*{billetCinq}" required></label><br>
    <label>Quantité de Billet 10 € : <input type="number" th:field="*{billetDix}" required></label><br>
    <label>Quantité de Billet 20 € : <input type="number" th:field="*{billetVingt}" required></label><br>


    <!-- Section d'affichage du montant total -->
    <label>Montant Total: <span th:text="${montantTotal}"></span></label><br>

    <button type="submit">Valider</button>
</form>
</body>
</html>
