<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Opération BANCAIRES</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <link th:href="@{/css/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet">
    <!-- Add your CSS link or style references here -->
</head>

<body>
<h3>Nouvelle opération</h3>
<form class="form form-horizontal" action="save" method="post" th:object="${operationsDto}">
    <div class="form-body">
        <div class="row">
            <div class="col-md-3">
                <label>Banque:</label>
            </div>
            <div class="col-md-9 form-group">
                <select th:field="*{banques}" class="form-control" required>
                    <option value="BNDE">BNDE</option>
                    <option value="UBA">UBA</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Nature Opération:</label>
            </div>
            <div class="col-md-9 form-group">
                <select th:field="*{natureOperations}" class="form-control" required>
                    <option th:each="n : ${T(Reporting.AFA.Entity.OperationsBancaires.NatureOperations).values()}"
                            th:value="${n}" th:text="${n.getLabel()}"></option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Numero Compte:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="number" th:field="*{numeroCompte}" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label>Civilite:</label>
            </div>
            <div class="col-md-9 form-group">
                <select th:field="*{civilite}" class="form-control" required>
                    <option th:each="c : ${T(Reporting.AFA.Entity.OperationsBancaires.Civilite).values()}"
                            th:value="${c}" th:text="${c}"></option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Nom:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="text" th:field="*{nom}" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label>Prénom:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="text" th:field="*{prenom}" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label>Numéro de Téléphone:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="text" th:field="*{numeroTelephone}" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label>Montant:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="number" step="0.01" th:field="*{montant}" class="form-control" required>
            </div>

            <div class="col-md-3">
                <label>Comission:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="number"  th:field="*{commissions}" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label>Autres:</label>
            </div>
            <div class="col-md-9 form-group">
                <input type="text" th:field="*{autres}" class="form-control">
            </div>
            <div class="col-sm-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mr-1 mb-1">Enregistrer</button>
                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Reset</button>
            </div>
        </div>
    </div>
</form>
</body>

</html>
