<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer un cours du jour</title>
</head>
<body>
<h3>Créer un cours du jour</h3>
<form th:action="@{/exchange/new}" method="post" th:object="${exchange}">
    <label for="achatEuro">Achat Euro :</label>
    <input type="text" id="achatEuro" name="achatEuro" th:field="*{achatEuro}" required><br>

    <label for="venteEuro">Vente Euro :</label>
    <input type="text" id="venteEuro" name="venteEuro" th:field="*{venteEuro}" required><br>

    <label for="achatUSD">Achat USD :</label>
    <input type="text" id="achatUSD" name="achatUSD" th:field="*{achatUSD}" required><br>

    <label for="venteUSD">Vente USD :</label>
    <input type="text" id="venteUSD" name="venteUSD" th:field="*{venteUSD}" required><br>

    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
