<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Détails de l'entreprise</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <style>
        .signature-section {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .quittance {
            text-decoration: underline;
        }

        .signature-label {
            margin-right: 10px;
        }

        .mt-2 {
            margin-top: 0; /* Ajustez cette valeur pour supprimer l'espace */
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#imprimerPdf').click(function () {
                var content = $('#pdfContent').html();
                html2pdf(content, {
                    margin: 10,
                    filename: 'details_entreprise.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
                });
            });
        });
    </script>
</head>

<body>
<div style="text-align: right; margin-right: 10px; margin-top:30px">
    <a th:href="@{'/entreprises/list'}" style="color: white; text-decoration: none; background-color:red; padding: 10px 10px; border-radius: 5px;">Liste Entreprise</a>
</div>



<div id="pdfContent" class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <img th:src="@{/images/image3.jpg}" alt="Logo" style="max-width: 50px;">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4 class="card-title quittance">Quittance</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Détails de l'entreprise -->
                        <!-- ... (le reste du code reste inchangé) ... -->
                        <p>Agent : <span th:text="${nomComplet}"></span></p>
                        <p>Agence : <span th:text="${agence.nomAgence}"></span></p>
                        <p>Payé le : <span th:text="${date}"></span></p>
                        <p>Nom : <span th:text="${entrepriseDto.nom}"></span></p>
                        <p>Prénom : <span th:text="${entrepriseDto.prenom}"></span></p>
                        <p>Numéro de Téléphone : <span th:text="${entrepriseDto.numTel}"></span></p>
                        <p>CNI : <span th:text="${entrepriseDto.cni}"></span></p>
                        <p>Type d'entreprise : <span th:text="${entrepriseDto.typeEntreprise.label}"></span></p>
                        <p>Nom de l'entreprise : <span th:text="${entrepriseDto.getNom_Entreprise()}"></span></p>
                        <p>Demande : <span th:text="${entrepriseDto.demande.label}"></span></p>
                        <p>Montant : <span th:text="${Montant}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body signature-section">
                        <div class="signature-label">
                            <p>Signature Client: ____________________</p>
                        </div>
                        <div class="signature-label">
                            <p>Signature Caissier: ____________________</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <button id="imprimerPdf" class="btn btn-primary">Imprimer en PDF</button>
        </div>
    </div>
</div>
</body>

</html>
