<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Change</title>
</head>
<body>
<h1>Edit Change</h1>
<form th:action="@{'/changes/' + ${changeDto.id} + '/edit'}" method="post" th:object="${changeDto}" onsubmit="return validateForm()">
    <div>
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" th:field="*{prenom}" required>
    </div>
    <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" th:field="*{nom}" required>
    </div>
    <div>
        <label for="service">Service:</label>
        <select id="service" name="service" th:field="*{service}" required>
            <option th:each="service : ${T(Reporting.AFA.Entity.Change.Service).values()}"
                    th:value="${service}"
                    th:text="${service.label}"></option>
        </select>
    </div>

    <div>
        <label for="typePieceIdentite">Type De Pieces d'identité:</label>
        <select id="typePieceIdentite" name="typePieceIdentite" th:field="*{typePieceIdentite}" required>
            <option th:each="typePieceIdentite : ${T(Reporting.AFA.Entity.Change.Type_Piece_Identite).values()}"
                    th:value="${typePieceIdentite}"
                    th:text="${typePieceIdentite.label}"></option>
        </select>
    </div>

    <div>
        <label for="date_delivrance">Date de delivrance:</label>
        <input type="date" id="date_delivrance" name="date_delivrance" th:field="*{date_delivrance}" required>
    </div>

    <div>
        <label for="resident">Resident:</label>
        <select id="resident" name="resident" th:field="*{resident}" required>
            <option th:each="resident : ${T(Reporting.AFA.Entity.Change.Resident).values()}"
                    th:value="${resident}"
                    th:text="${resident}"></option>
        </select>
    </div>



    <div>
        <label for="deviseRecue">Devise Reçue:</label>
        <select id="deviseRecue" name="deviseRecu" th:field="*{deviseRecu}" required>
            <option value="EUR">EUR</option>
            <option value="XOF">XOF</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <div>
        <label for="deviseRemis">Devise Remise:</label>
        <select id="deviseRemis" name="deviseRemis" th:field="*{deviseRemis}" required>
            <option value="EUR">EUR</option>
            <option value="XOF">XOF</option>
            <option value="USD">USD</option>
        </select>
        <p id="deviseMatchError" style="color: red; display: none;">Les devises ne doivent pas être similaires.</p>
    </div>
    <div>
        <label for="montantRecu">Montant Reçu:</label>
        <input type="number" id="montantRecu" name="montantRecu" th:field="*{montantRecu}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">CNI:</label>
        <div class="form-check">
            <input type="radio" id="CNI1" name="CNI" value="1" class="form-check-input" th:checked="${changeDto.CNI == 1}">
            <label for="CNI1" class="form-check-label">Une copie</label>
        </div>
        <div class="form-check">
            <input type="radio" id="CNI0" name="CNI" value="0" class="form-check-input" th:checked="${changeDto.CNI == 0}">
            <label for="CNI0" class="form-check-label">Non Reçu</label>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Passeport:</label>
        <div class="form-check">
            <input type="radio" id="Passeport1" name="Passeport" value="1" class="form-check-input" th:checked="${changeDto.Passeport == 1}">
            <label for="Passeport1" class="form-check-label">Une copie</label>
        </div>
        <div class="form-check">
            <input type="radio" id="Passeport0" name="Passeport" value="0" class="form-check-input" th:checked="${changeDto.Passeport == 0}">
            <label for="Passeport0" class="form-check-label">Non Reçu</label>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Billet d'avion:</label>
        <div class="form-check">
            <input type="radio" id="Billet_Avion1" name="Billet_Avion" value="1" class="form-check-input" th:checked="${changeDto.Billet_Avion == 1}">
            <label for="Billet_Avion1" class="form-check-label">Une copie</label>
        </div>
        <div class="form-check">
            <input type="radio" id="Billet_Avion0" name="Billet_Avion" value="0" class="form-check-input" th:checked="${changeDto.Billet_Avion == 0}">
            <label for="Billet_Avion0" class="form-check-label">Non Reçu</label>
        </div>
    </div>
    <!-- Ajoutez d'autres champs si nécessaire -->
    <button type="submit">Enregistrer</button>
</form>

<script>
    function checkDeviseMatch() {
        var deviseRecue = document.getElementById("deviseRecue").value;
        var deviseRemis = document.getElementById("deviseRemis").value;
        var errorMessage = document.getElementById("deviseMatchError");

        if (deviseRecue === deviseRemis) {
            errorMessage.style.display = "block";
            return false;
        } else {
            errorMessage.style.display = "none";
            return true;
        }
    }

    function validateForm() {
        return checkDeviseMatch();
    }
</script>
</body>
</html>
