<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Caisses - Billetage</title>
</head>
<body>
<h3>Liste des Caisses</h3>
<table>
    <thead>
    <tr>
        <th>Date et Heure</th>
        <!-- Ajouter d'autres colonnes si nécessaire -->
        <th>Type De Caisse</th>
        <th>Montant Total Euro</th>
        <th>Montant Total Dollars</th>
        <th>Montant Total XOF</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="caisse : ${list_caisses}">
        <td th:text="${#dates.format(caisse.dateCreation, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${caisse.natureCaisse.label}"></td>
        <td th:text="${caisse.montantEuros}"></td>
        <td th:text="${caisse.montantDollars}"></td>
        <td th:text="${caisse.montantFcfa}"></td>


        <!-- Ajouter d'autres colonnes si nécessaire -->
        <td>
            <a th:href="@{/caisses/{caisseId}/detail(caisseId=${caisse.id})}">Détails</a>
            <a th:href="@{/caisses/{caisseId}/delete(caisseId=${caisse.id})}" >Supprimer</a>


        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
