<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des opérations personnalisées</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h3>Liste des opérations personnalisées</h3>
<table>
    <thead>
    <tr>
        <th>Caissier</th>
        <th>Service</th>
        <th>Nature Opérations</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de Téléphone</th>
        <th>Montant</th>
        <th>Autres</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customOperation : ${customOperations}">
        <td th:text="${customOperation.caissier}"></td>
        <td th:text="${customOperation.service}"></td>
        <td th:text="${customOperation.natureOperation}"></td>
        <td th:text="${customOperation.nom}"></td>
        <td th:text="${customOperation.prenom}"></td>
        <td th:text="${customOperation.numeroTelephone}"></td>
        <td th:text="${customOperation.montant}"></td>
        <td th:text="${customOperation.autres}"></td>
        <td th:text="${customOperation.statut}"></td>
        <td>

        <a th:href="@{'/operations/' + ${customOperation.id} + '/edit'}">Modifier</a>
        <a th:href="@{'/operations/' + ${customOperation.id} + '/delete'}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette opération ?')">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
