<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
<h1>Profil Utilisateur</h1>
<div>
    <p><strong>Nom:</strong> <span th:text="${Nom}">Nom</span></p>
    <p><strong>Prénom:</strong> <span th:text="${Prenom}">Prénom</span></p>
    <p><strong>Nom d'utilisateur:</strong> <span th:text="${Username}">Nom d'utilisateur</span></p>
    <p><strong>Email:</strong> <span th:text="${Email}">Email</span></p>
</div>

<a th:href="@{'/editer'}">Editer Profil</a>
<a th:href="@{'/Password'}">Modifier Mot de Passe</a>
</body>
</html>
