<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Création d'utilisateur</title>
</head>
<body>

<h2>Formulaire de création d'utilisateur</h2>

<form action="new" method="post" th:object="${user}">
  <label>Nom: <input type="text" th:field="*{Nom}" required></label><br>
  <label>Prénom: <input type="text" th:field="*{Prenom}" required></label><br>
  <label>Nom d'utilisateur: <input type="text" th:field="*{username}" required></label><br>
  <label>Email: <input type="email" th:field="*{email}" required></label><br>
  <label>Mot de passe: <input type="password" th:field="*{password}" required></label><br>

  <button type="submit">Enregistrer</button>
</form>
<a th:href="@{'/login'}">deja inscrit connecter vous ici</a>

</body>
</html>
