<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script type="text/javascript">
        // Fonction pour vérifier si les mots de passe correspondent
        function checkPasswordMatch() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            // Vérifie si les deux mots de passe sont identiques
            if (password != confirmPassword) {
                // Affiche un message d'erreur
                document.getElementById("passwordError").innerHTML = "Passwords do not match";
                return false;
            } else {
                // Efface le message d'erreur s'il existe
                document.getElementById("passwordError").innerHTML = "";
                return true;
            }
        }
    </script>
</head>
<body>
<h2>Reset Password</h2>
<form th:action="@{/ResetPass/{id}}" method="post" onsubmit="return checkPasswordMatch()">
    <!-- Champ pour le nouveau mot de passe -->
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="psw" placeholder="New Password" required><br>

    <!-- Champ pour la confirmation du mot de passe -->
    <label for="confirmPassword">Confirm Password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required><br>
    <div id="passwordError" style="color: red;"></div> <!-- Affiche les erreurs de mot de passe -->

    <!-- Champ caché pour l'ID -->
    <input type="hidden" name="id" th:value="${id}">

    <!-- Bouton pour soumettre le formulaire -->
    <button type="submit">Reset Password</button>
</form>
</body>
</html>
