<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le mot de passe</title>
    <script type="text/javascript">
        // Fonction pour vérifier si les mots de passe correspondent
        function checkPasswordMatch() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            // Vérifie si les deux mots de passe sont identiques
            if (password != confirmPassword) {
                // Affiche un message d'erreur
                document.getElementById("passwordError").innerHTML = "Passwords do not match";
                return false;
            } else {
                // Efface le message d'erreur s'il existe
                document.getElementById("passwordError").innerHTML = "";
                return true;
            }
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="bg-light">
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Modifier le mot de passe</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form th:action="@{/ResetPass/{id}}" method="post" onsubmit="return checkPasswordMatch()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="password">Nouveau mot de passe:</label>
                                            <input type="password" id="password" name="psw" class="form-control"
                                                   placeholder="New Password" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirmation:</label>
                                            <input type="password" id="confirmPassword" name="confirmPassword"
                                                   class="form-control" placeholder="Confirm Password" required>
                                            <div id="passwordError" style="color: red;"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Modifier</button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="${id}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
